
<div class="main">
  <h3 class="alert bg-info text-white text-center text-uppercase">
    Reactive Form 
  </h3>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="reactiveForm" (ngSubmit)="onReactiveFormSubmit()" >
                <div class="form-group">
                    <label for="userName">User Name</label>
                    <input type="text" class="form-control" id="userName" formControlName="userName">
                <p class="text-danger text-capitalize" *ngIf="reactiveForm.controls['userName'].touched && reactiveForm.controls['userName'].hasError('required')  ">
                  This is Mandatory Field
                </p>
                   <ng-container *ngIf="reactiveForm.controls['userName'].dirty">
                <p class="text-danger text-capitalize" *ngIf="reactiveForm.controls['userName'].hasError('minlength')">
                   The minimum length of User Name should be 
                   {{reactiveForm.controls['userName'].errors?.['minlength'].requiredLength}} and actual length 
                   {{reactiveForm.controls['userName'].errors?.['minlength'].actualLength}}
                </p>
                <p class="text-danger text-capitalize" *ngIf=" form['userName'].hasError('maxlength')">
                  The maximum length of username is
                  {{form['userName'].errors?.['maxlength'].requiredLength}}
                  and actual length is
                  {{form['userName'].errors?.['maxlength'].actualLength}}
                </p>
                <p class="text-danger text-capitalize" *ngIf="form['userName'].hasError('pattern')">
                  please enter valid username.numbers and special characters not allowed
                </p>
                <p class="text-danger text-capitalize" *ngIf="form['userName'].hasError('noSpaceValidation')">
                {{form['userName'].errors?.['noSpaceValidation']}}
                </p>
                   </ng-container> 
                 
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" formControlName="email">
                </div>
                <p class="text-danger text-capitalize" *ngIf="form['email'].touched && form['email'].hasError('required')">
                  Email is  mandatory filed
                </p>
                <p class="text-danger text-capitalize" *ngIf="form['email'].dirty && form['email'].hasError('pattern')">
                  Please enter valid email id
                </p>
                <div class="form-group">
                  <label for="empId">empId</label>
                  <input type="text" class="form-control" id="empId" placeholder="E123" formControlName="empId">
              </div>
              <p class="text-danger text-capitalize" *ngIf="form['empId'].touched && form['empId'].hasError('required')">
                Employee id is mandatory field
              </p>
              <p class="text-danger text-capitalize" *ngIf="form['empId'].dirty && form['empId'].hasError('inValidEmpId')">
             <!-- please enter valid employee id -->
             {{form['empId'].errors?.['inValidEmpId']}}
              </p>
                <div class="form-group">
                  <h5>Gender</h5>
            <ng-container *ngFor="let gender of genderArray">
                <label [for]="gender" class="mr-3">
                <input type="radio" [id]="gender" [value]="gender" formControlName="gender">
                {{gender}}
                </label>
            </ng-container>
                </div>
            <div formArrayName="skills">
              <h5>Add skills</h5>
             <div class="row" *ngFor="let skill of skillsFormArray.controls ; index as i">
              <div class="col-md-8">
                <input type="text" class="form-control mb-3" [formControlName]="i">
              </div>
              <div class="col-md-4" *ngIf="i > 0">
                <i class="fa-regular fa-trash-can fa-2x text-danger"
                (click)="onSkillsRemove(i)"
                ></i>
              </div>
             </div>
             <button class="btn btn-outline-primary" 
               [disabled]="skillsFormArray.length >= 5"
             *ngIf="skillsFormArray.length < 5"
             (click)="onSkillsAdd()">Add Skills</button>
             <span class="text-danger" *ngIf="skillsFormArray.length >= 5">
              You can add only 5 skills
             </span>
            
            </div>
           
             <div class="row">
              <div class="col-md-6" formGroupName="currentAddress">
                <h3>Current Address</h3>
                <div class="form-group">
                  <label for="country">Country</label>
                  <input type="text" class="form-control" id="city" formControlName="country">
                 
              </div>
              <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" formControlName="city">
              </div>
              <div class="form-group">
                <label for="state">State</label>
                <input type="text" class="form-control" id="state" formControlName="state">
            </div>
            <div class="form-group">
              <label for="zipCode">Zip Code</label>
              <input type="text" class="form-control" id="zipCode" formControlName="zipCode">
          </div>
              </div>

              <div class="col-md-6" formGroupName="premanantAddress">
                <h3>Premanent Address</h3>
                <div class="form-group">
                  <label for="country">Country</label>
                  <input type="text" class="form-control" id="country" formControlName="country">
              </div>
              <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" formControlName="city">
              </div>
              <div class="form-group">
                <label for="state">State</label>
                <input type="text" class="form-control" id="state" formControlName="state">
            </div>
            <div class="form-group">
              <label for="zipCode">Zip Code</label>
              <input type="text" class="form-control" id="zipCode" formControlName="zipCode">
          </div>
              </div>
             </div>
             <label for="checkAddress">Current Address and premanant Address should be same
             <input type="checkbox" formControlName="checkAddress">
            </label>
             <div class="form-group">
                    <label for="password">Password</label>
                    <input type="text" class="form-control" formControlName="password">
             </div>
              
              <p class="text-danger" *ngIf="form['password'].touched && form['password'].hasError('required')">
                This field is mandatory to fill
              </p>
              <p class="text-danger" *ngIf="form['password'].dirty && form['password'].hasError('pattern')"> Password must contain a
                lowercase letter, capital letter, number, special character</p>


           
             <div class="form-group">
                   <label for="confirmPassword">Confirm Password</label>
                   <input type="text" class="form-control"  formControlName="confirmPassword">
             </div>
             <span class="text-danger" *ngIf="form['password'].value !== form['confirmPassword'].value &&
             
             form['confirmPassword'].dirty">Confirm password should be same as password</span> 
              
            <!-- </div> -->
             <div class="text-right">
              <button class="btn btn-outline-info">Submit</button>
             </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

