.main{
    background-color: aquamarine;
}
input.ng-touched,.ng.dirty{
   border : 1px solid red;
}
.card{
   background-color: transparent;
   border : 1px solid grey
}
input {
    // border: 2px solid red;
     border-radius :50px ;
}
